{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="username">{{ 'form.login.username'|trans }}</label>
                    <input type="text" id="username" name="_username" class="form-control form-control-alternative" placeholder="{{ 'form.login.username'|trans }}" value="{{ last_username }}"/>
                </div>
            </div>
            <div class="col">
                <div class="form-group">

                    <label for="password">{{ 'form.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" class="form-control form-control-alternative" placeholder="{{ 'form.login.password'|trans }}"/>
                </div>
            </div>
        </div>

        <input type="hidden" name="_target_path" value="{{ path('homepage') }}"/>
        <div class="row justify-content-center">
            {% include 'components/_button.html.twig' with {
                content: 'form.login.button'|trans,
                style: 'success',
                icon: 'user'
            } %}
        </div>
    </form>

{% endblock %}