<nav class="navbar main-navigation navbar-expand-lg navbar-dark bg-primary">
    <div class="container"><a href="{{ path('homepage') }}" class="navbar-brand">
            {{ sitename }}
        </a>
        <button type="button" data-toggle="collapse" data-target="menu" aria-controls="menu"
                aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span>
        </button>
        <div id="menu" class="collapse navbar-collapse">
            <div class="navbar-collapse-header"></div>
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item"><a href="{{ path('fiction.index') }}"
                                        class="nav-link">{{ 'global.navigation.fictions'|trans }}</a></li>
                {% if app.user %}
                    <li class="nav-item"><a href="#"
                                            class="nav-link">{{ 'global.navigation.profile'|trans({'{username}': app.user.username}) }}</a>
                    </li>
                    <li class="nav-item"><a href="{{ path('logout') }}"
                                            class="nav-link">{{ 'global.navigation.logout'|trans }}</a></li>
                {% else %}
                    <li class="nav-item"><a href="{{ path('login') }}"
                                            class="nav-link">{{ 'global.navigation.login'|trans }}</a></li>
                    <li class="nav-item"><a href="{{ path('registration') }}"
                                            class="nav-link">{{ 'global.navigation.register'|trans }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>