{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'fiction.index'|trans }}{% endblock %}

{% block body %}
    {% set q = app.request.query.all.q|default(null) %}
    <h1>{{ q is defined and q != '' ? 'fiction.search.title'|trans({'{query}': q}) : 'fiction.index'|trans }}</h1>
    <fiction-search form-action="{{ path('fiction.index') }}" :categories="{{ categories|props }}"></fiction-search>
    {% if fictions|length > 0 %}
        {% set columns = [
            'fiction.table.heading.name',
            'fiction.table.heading.authors',
            'fiction.table.heading.categories',
            'fiction.table.heading.createdAt'
        ] %}
        {% set rows = [] %}
        {% for fiction in fictions %}
            {% set rows = rows|merge([{
                'fiction.table.heading.name':
                '<a href="' ~ path('fiction.show', {'slug': fiction.slug}) ~ '">' ~ fiction.title ~ '</a>',
                'fiction.table.heading.authors': fiction.authors|map(=> _.username)|join(', '),
                'fiction.table.heading.categories': fiction.categories|map(=>_.title)|join(', '),
                'fiction.table.heading.createdAt': fiction.createdAt|localizeddate
            }]) %}
        {% endfor %}
        <sortable-table class="table-responsive" :columns="{{ columns|json_encode }}" :rows="{{ rows|json_encode }}"></sortable-table>
        {% if fictions.haveToPaginate %}
            <hr>
            <div class="row justify-content-center mb-4">
                {% include 'partials/_pagination.html.twig' with {for: fictions, classes: ['mb-0']} %}
            </div>
        {% endif %}
    {% else %}
        <p class="text-center">{{ 'fiction.search.no_result'|trans }}</p>
    {% endif %}
{% endblock %}