{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'fiction.index'|trans }}{% endblock %}

{% block body %}
    {% set q = app.request.query.all.q|default(null) %}
    <h1>{{ q is defined and q != '' ? 'fiction.search.title'|trans({'{query}': q}) : 'fiction.index'|trans }}</h1>
    <fiction-search form-action="{{ path('fiction.index') }}" :categories="{{ categories|props }}"></fiction-search>
    {% set columns = [
        'fiction.table.heading.name',
        'fiction.table.heading.authors',
        'fiction.table.heading.categories',
        'fiction.table.heading.createdAt'
    ] %}
    {% set rows = [] %}
    {% for fiction in fictions %}
        {% set rows = rows|merge([{
            'fiction.table.heading.name':
            '<a href="' ~ path('fiction.show', {'slug': fiction.slug}) ~ '">' ~ fiction.title ~ '</a>',
            'fiction.table.heading.authors': fiction.authors|map(=> _.username)|join(', '),
            'fiction.table.heading.categories': fiction.categories|map(=>_.title)|join(', '),
            'fiction.table.heading.createdAt': fiction.createdAt|localizeddate
        }]) %}
    {% endfor %}
    <sortable-table :columns="{{ columns|json_encode }}" :rows="{{ rows|json_encode }}"></sortable-table>
    {% if fictions.haveToPaginate %}
        <hr>
        <div class="row justify-content-center mb-4">
            {{ pagerfanta(fictions, 'noelfic_pagination', {routeParams: app.request.query.all}) }}
        </div>
    {% endif %}
{% endblock %}