{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'fiction.index'|trans }}{% endblock %}

{% block body %}
    {% set q = app.request.query.all.q|default(null) %}
    <h1>{{ q is defined and q != '' ? 'fiction.search.title'|trans({'{query}': q}) : 'fiction.index'|trans }}</h1>
    <fiction-search form-action="{{ path('fiction.index') }}" :categories="{{ categories|props }}"></fiction-search>
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'fiction.table.heading.name'|trans }}</th>
            <th>{{ 'fiction.table.heading.authors'|trans }}</th>
            <th>{{ 'fiction.table.heading.categories'|trans }}</th>
            <th>{{ 'fiction.table.heading.createdAt'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for fiction in fictions %}
            <tr>
                <td>
                    <a href="{{ path('fiction.show', {'slug': fiction.slug}) }}">{{ fiction.title }}</a>
                </td>
                <td>
                    {% for author in fiction.authors %}{{ author.username }}{{ not loop.last ? ', ' }}{% endfor %}<br/>
                </td>
                <td>
                    {% for category in fiction.categories %}{{ category.title }}{{ not loop.last ? ', ' }}{% endfor %}
                    <br/>
                </td>
                <td>
                    {{ fiction.createdAt|localizeddate }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if fictions.haveToPaginate %}
        <div class="row justify-content-center">
            {{ pagerfanta(fictions, 'noelfic_pagination', {routeParams: app.request.query.all}) }}
        </div>
    {% endif %}
{% endblock %}