{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ fiction.title }} - {{ chapter.title }}{% endblock %}

{% block body %}
    <h1>{{ fiction.title }}</h1>
    {% embed 'partials/_comments.html.twig' with {'comments': fiction.rootComments} %}{% endembed %}
    <h2>{{ chapter.title }}</h2>
    {% embed 'partials/_comments.html.twig' with {'comments': chapter.rootComments} %}{% endembed %}
    <div class="body">
        {{ chapter.body|raw }}
    </div>
    {% if chapters.haveToPaginate %}
        {{ pagerfanta(chapters, 'twitter_bootstrap4_translated', {routeParams: app.request.query.all}) }}
    {% endif %}
{% endblock %}