{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ fiction.title }} - {{ chapter.title }}{% endblock %}

{% block body %}
    <h1 class="position-relative">{{ fiction.title }}<fiction-chapter-shortcuts></fiction-chapter-shortcuts></h1>
    <h2>{{ chapter.title }}</h2>
    {% if is_touch_device() %}
        <fiction-chapter-touch-paginator>
    {% endif %}
            <div class="fiction body">
                {{ chapter.body|raw }}
            </div>
    {% if is_touch_device() %}
        </fiction-chapter-touch-paginator>
    {% endif %}
    <hr>
    {% if chapters.haveToPaginate %}
        <div class="row justify-content-center">
            {% include 'partials/_pagination.html.twig' with {for: chapters, classes: ['mb-0']} %}
        </div>
    {% endif %}
    <hr>
    <base-comments
            type="fictionChapter"
            chapter-id="{{ chapter.id }}"
            :queries-to-refetch="{{ ['FictionChapterCommentsQuery']|json_encode }}"
    ></base-comments>
{% endblock %}