{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ fiction.title }} - {{ chapter.position }}{% endblock %}

{% block body %}
    <h1>{{ fiction.title }}</h1>
    <h2>{{ chapter.title }}</h2>
{% endblock %}