{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ fiction.title }} - {{ chapter.title }}{% endblock %}

{% block body %}
    <h1>{{ fiction.title }}</h1>
    <h2>{{ chapter.title }}</h2>
    <div class="body">
        {{ chapter.body|raw }}
    </div>
    <fiction-chapter-comments :chapter="{{ chapter|props }}"></fiction-chapter-comments>

    {% if chapters.haveToPaginate %}
        <div class="row justify-content-center">
            {{ pagerfanta(chapters, 'noelfic_pagination', {routeParams: app.request.query.all}) }}
        </div>
    {% endif %}
{% endblock %}
