{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ fiction.title }} - {{ chapter.title }}{% endblock %}

{% block body %}
    <h1>{{ fiction.title }}</h1>
    <comments data-comments="{{ fiction.rootComments|props }}"></comments>
    <h2>{{ chapter.title }}</h2>
    <div class="body">
        {{ chapter.body|raw }}
    </div>
    <comments data-comments="{{ chapter.rootComments|props }}"></comments>
    {% if chapters.haveToPaginate %}
        {{ pagerfanta(chapters, 'twitter_bootstrap4_translated', {routeParams: app.request.query.all}) }}
    {% endif %}
{% endblock %}