{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {% if app.user %}
        Favoris de {{ app.user.username }}
        <ul>
            {% for favorite in favorites %}
                <li>
                    {% set authors = favorite.fiction.authors %}
                    {% set fiction = favorite.fiction %}
                    {{ fiction.title }} (moyenne des notes : {{ fiction.averageRating }})
                    ({% for author in authors %}{{ author.username }}{{ not loop.last ? ', ' }}{% endfor %})<br/>
                    <small>Ajouté aux favoris le {{ favorite.favoritedAt|localizeddate }}</small>
                    <h3>Chapitres</h3>
                    <ul>
                        {% for chapter in fiction.chapters %}
                            {% set authors = chapter.authors %}
                            <li>
                                {{ chapter.title }}
                                ({% for author in authors %}{{ author.username }}{{ not loop.last ? ', ' }}{% endfor %})
                            </li>
                        {% endfor %}
                    </ul>
                    <h3>Commentaires</h3>
                    <ul>
                        {% for comment in fiction.comments %}
                            <li>
                                {{ comment.author.username }} : {{ comment.body }}<br/>
                                <small>{{ comment.createdAt|localizeddate }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</div>
{% endblock %}
