{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>{{ 'global.navigation.homepage'|trans }}</h1>
        <a href="{{ path('about') }}">{{ 'global.about'|trans }}</a>
        {% if app.user %}
            {{ 'global.favorites'|trans }} {{ 'of'|trans }} {{ app.user.username }}
            <ul>
                {% for favorite in favorites %}
                    <li>
                        {% set authors = favorite.fiction.authors %}
                        {% set fiction = favorite.fiction %}
                        <a href="{{ path('fiction.show', {'slug': fiction.slug}) }}">{{ fiction.title }}</a> (<small>{{ fiction.averageRating ?
                            'fiction.ratings.average'|trans({"{averageRating}": fiction.averageRating})|raw :
                            'fiction.ratings.empty'|trans|raw }}</small>)
                        ({% for author in authors %}{{ author.username }}{{ not loop.last ? ', ' }}{% endfor %})<br/>
                        <small>{{ 'fiction.favorites.added'|trans }} {{ favorite.favoritedAt|localizeddate }}</small>
                        <h3>{{ 'global.chapters'|transchoice(fiction.chapters.count) }}</h3>
                        <ul>
                            {% for chapter in fiction.chapters %}
                                <li>
                                    <a href="{{ path('fiction.show', {'slug': fiction.slug, 'page': chapter.position}) }}">
                                        {{ chapter.title }}
                                    </a>
                                    ({% for author in chapter.authors %}{{ author.username }}{{ not loop.last ? ', ' }}{% endfor %})
                                </li>
                            {% endfor %}
                        </ul>
                        <hr>
                        <base-comments
                                type="fiction"
                                fiction-id="{{ fiction.id }}"
                                :queries-to-refetch="{{ ['FictionCommentsQuery']|json_encode }}"
                        ></base-comments>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
{% endblock %}