<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="theme-color" content="#7485e8">
    <title>{% block title %}{{ sitename }} - {{ 'global.navigation.admin'|trans }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
    {% include 'partials/_vue_data.html.twig' %}
    <script defer src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script defer src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script defer src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script defer src="{{ path('bazinga_jstranslation_js', {'locales': app_locales|split('|')|join(',')} ) }}"></script>
    <script defer src="{{ asset('build/admin.js') }}"></script>

</head>
<body>
<div id="admin">
    {% include 'partials/_flashbags.html.twig' %}
    <portal-target name="root"></portal-target>
    {% include 'admin/_partials/_navigation.html.twig' %}
    {% block body %}{% endblock %}
    <portal-target name="modals"></portal-target>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>