<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<body>
{% for label, messages in app.flashes %}
    <div class="alert alert-{{ label }}">
        <ul>
            {% for message in messages %}
                {% if message is iterable %}
                    {{ message.id|trans(message.parameters|default({}))|raw }}
                {% else %}
                    {{ message|trans|raw }}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endfor %}

<div id="app">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>
