<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="theme-color" content="#7485e8">
    <title>{% block title %}{{ sitename }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% include 'partials/_vue_data.html.twig' %}
    <script defer src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script defer src="{{ path('bazinga_jstranslation_js', {'locales': app_locales|split('|')|join(',')} ) }}"></script>
    <script defer src="{{ asset('build/app.js') }}"></script>

</head>
<body>
<div id="app">
    {% include 'partials/_navigation.html.twig' %}
    <main class="container">
        {% include 'partials/_flashbags.html.twig' %}
        {% block body %}{% endblock %}
    </main>
    {% include 'partials/_footer.html.twig' %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>